body {
    padding: 10px;
}

.header {
	border-bottom: 1px solid #e5e5e5;
	height: 60px;
}

.header .logo {
	float: left;
}

.header .logo h1 {
	line-height: 1.1;
	margin-left: 10px;
}

.header .nav {
	float: right;
	margin-top: 3px;
}

.header .nav-item .count {
	background-color: #999;
	border-radius: 5px;
	padding: 0 6px 1px 5px;
	color: #fff;
	font-weight: 500;
	font-size: 14px;
}

.section {
	clear: both;
	padding: 10px;
}

.section h2 {
	margin: 5px 0;
}

.section h2 .close-listing {
	float: right;
}

.section h2 .close-listing form {
	float: right;
}

.section h2 .close-listing span {
	font-size: 16px;
    color: #444;
    padding: 5px 10px;
    vertical-align: middle;
    font-weight: 500;
}

.section h2 .close-listing input[type="submit"] {
	height: 42px;
	margin-top: 0px;
}

ul.listings {
	list-style: none;
    padding: 0;
    margin-top: 15px;
}

ul.categories {
	margin-top: 15px;
}

ul.listings a:hover {
	text-decoration: none;
}

ul.listings div.listing {
	width: 100%;
    height: 200px;
    color: #000;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

ul.listings .image-container {
	width: 33%;
	margin-right: 40px;
	background-color: #eee;
	float: left;
	text-align: center;
	height: 100%;
}

ul.listings img {
	height: 100%;
	max-width: 100%;
	object-fit: contain;
}

.image-container-large {
	width: 100%;
	background-color: #eee;
	text-align: center;
	height: 300px;
	margin-top: 20px;
	margin-bottom: 15px;
}

.image-container-large img {
	height: 100%;
	max-width: 100%;
	object-fit: contain;
}

#in_watchlist, #not_in_watchlist {
	font-size: 12px;
    font-weight: 500;
    padding: 0px 4px 1px 4px;
	color: white;
    border-radius: 3px;
}

#in_watchlist {
	border: 1px solid #0066ff;
	background-color: #0066ff;
}

#not_in_watchlist {
	border: 1px solid #aaa;
	background-color: #aaa;
}

input[type="submit"]:focus, input[type="text"]:focus {
	outline: none;
}

.section .listing-details {
	width: 75%;
	text-align: justify;
}

.section .listing-details big {
	font-size: 20px;
	font-weight: 500;
}

.section .listing-details input[type="number"], .section .listing-details input[type="text"] {
	width: 100%;
	padding: 4px 8px;
	border-radius: 3px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
}

.section .listing-details input[type="submit"] {
	padding: 4px 12px;
	border-radius: 3px;
	margin-bottom: 20px;
	margin-top: 5px;
}

.section .listing-details .errorlist {
	list-style: none;
	padding: 0;
	font-size: 13px;
	color: red;
	margin-bottom: 0;
}

.section .details span {
	color: #007bff;
	text-transform: capitalize;
}

.winner {
	margin-top: 10px;
}

.winner strong, .nav-link strong, .comment-list strong {
	text-transform: capitalize;
}

div.fieldWrapper {
    margin-bottom: 15px;
}

div.fieldWrapper label {
    width: 150px;
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
}

div.fieldWrapper input[type="text"], input[type="number"], input[type="url"], select {
    width: 500px;
    height: 40px;
    padding: 1px 8px;
    border-radius: 2px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
}

div.fieldWrapper textarea {
    width: 500px;
    max-width: 500px;
    height: 150px;
    min-height: 150px;
    max-height: 250px;
    min-width: 200px;
    padding: 4px 8px;
    border-radius: 2px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    vertical-align: bottom;
}

div.fieldWrapper input[type="text"]:focus, div.fieldWrapper textarea:focus, div.fieldWrapper input[type="number"]:focus, input[type="url"]:focus, select:focus {
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
    border: 1px solid #4d90fe;
    outline: none;
}

div.create-listing .errorlist {
    list-style: none;
    margin-left: 155px;
    font-size: 14px;
    color: red;
    margin-bottom: 5px;
    padding: 0;
}

div.create-listing input[type="submit"]:focus, .listing-details input[type="submit"]:focus, .close-listing input[type="submit"]:focus, .comment-form input[type="submit"]:focus {
    box-shadow: inset 0 0 0 1px #fff;
    border: rgba(0,0,0,0) solid 1px;
    outline: rgba(0,0,0,0) 0;
}

.section .create-listing {
	margin-top: 15px;
}

div.create-listing input[type="submit"], .listing-details input[type="submit"], .close-listing input[type="submit"], .comment-form input[type="submit"] {
    box-shadow: none;
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    height: 36px;
    min-width: 120px;
    padding: 0 12px;
    border: 1px solid #3079ed;
    font-family: arial,sans-serif;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

div.create-listing input[type="submit"]:hover, .listing-details input[type="submit"]:hover, .close-listing input[type="submit"]:hover, .comment-form input[type="submit"]:hover {
    background-color: #357ae8;
    background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
    border: 1px solid #2f5bb7;
    border-image: initial;
}

.comment-form div.fieldWrapper {
	margin-bottom: 2px;
	margin-top: 15px;
}

.comment-form div.fieldWrapper textarea {
	width: 70%;
	max-width: 70%;
}

.comment-list {
	margin-top: 15px;
}

.comment-list ul {
	list-style: none;
	padding: 0;
}

.comment-list li {
	margin-bottom: 20px;
}

.comment-list li p {
	margin-bottom: 5px;
	text-align: justify;
}

.comment-list li p span{
	color: #aaa;
}

.comments-section {
	width: 75%;
}

h5 {
	margin-bottom: 10px
}

p.no-items {
	margin-top: 15px;
}

ul.listings div.product-details {
	padding: 20px 40px 20px 0;
	height: 100%;
}

ul.listings p.product-name {
	font-size: 20px;
	font-weight: 500;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

ul.listings p.product-price {
	font-weight: 500;
}

ul.listings p.product-description {
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

ul.listings p.product-date {
	font-size: 14px;
	color: #777;
}