{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Category - {{ name }}</h2>
    {% if count %}
        <ul class="listings">
            {% for listing in listings %}
                <li>
                    <a href="{% url 'listing' listing.id %}">
                        <div class="listing">
                        	<div class="image-container"><img src="{{ listing.image }}"></div>
                            <div class="product-details">
                                <p class="product-name">{{ listing.title }}</p>
                                <p class="product-price">Price: ${{ listing.price }}</p>
                                <p class="product-description">{{ listing.description }}</p>
                                <p class="product-date">Created {{ listing.created_at }}</p>
                            </div>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="no-items">This category has no active items at present.</p>
    {% endif %}
{% endblock %}